## Docker files settings
docker/db/postgres_data/

## Vscode IDE settings
.vscode/

## Jetbrains IDE settings
.idea/

## Node's dependences
backend/node_modules/

## Build files
backend/build/

## Env
.env

## PM2
process.json