## Docker files settings
docker/mongodb/data/db/
!docker/mongodb/data/db/.gitkeep
docker/mssql/output/

## Vscode IDE settings
.vscode/

## Jetbrains IDE settings
.idea/

## Node's dependences
backend/node_modules/

## Build files
backend/build/

## Env
.env
backend/.env

## Folder to upload images
backend/tmp/*
!backend/tmp/.gitkeep

## Yarn lock
yarn-error.log

## PM2
process.json